<h2>card details page</h2>

<%= link_to "Exort csv", cards_path(format: :csv), class: 'btn-btn-primary' %>
<%= form_tag import_cards_path, multipart: true, class: 'form-inline' do %>
    <div class="form-group">
        <%= file_field_tag :file, class: '' %>
    </div>
    <div class="form-group">
        <%= submit_tag "Import CSV", class: 'btn-btn-info' %>
    </div>
<% end %>
<div class="">
    <%= link_to 'Add cards', new_card_path(@card) %><br>
</div>

<table id="cards-datatable" data-source="<%= cards_path(card_type: params[:card_type], format: :json) %>">
    <thead class="">
        <tr>
        <td>CardHolderName</td>
        <td>Card Type</td>
        <td>CardNumber</td>
        <td>CVV</td>
        <td>Validfrom</td>
        <td>Validthru</td>
    </thead>
    <tbody>

    </tbody>
</table>
<div class="row">
  <div class="col d-inline-flex justify-content-center">
    <div class="">
      <%= pie_chart Card.group(:card_type).count, donut: true %>
    </div>
    <div class="">
      <div class="">
        <p>Total count: <%= Card.count %></p>
      </div>
      <div class="">
        <p class="count">Total count: <%= Card.credit.count %></p>
      </div>
      <div class="">
        <p class="debit">Total count: <%= Card.debit.count %></p>
      </div>
    </div>
  </div>

</div>
<script>
$(document).ready(function() {
    $('#cards-datatable').dataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": $('#cards-datatable').data('source')
      },
      "pagingType": "full_numbers",
      "columns": [
        {"data": "name"},
        {"data": "card_number"},
        {"data": "cvv"},
        {"data": "card_type"},
        {"data": "valid_from"},
        {"data": "valid_thru"},
      ]
    });
  });
</script>
